:root {
  --layout-content-max-width: 1024px;

  --color-text-primary: #000000;
  --color-text-secondary: #707684;
  --color-text-active: #388AE5;
  --color-text-danger: #E24A4A;
  --color-text-disabled: #BDBEC0;

  --color-background-primary: #FFFFFF;
  --color-background-secondary: #E5F3FF;
  --color-backround-light: #F2F5F6;
  --color-background-active: #F2F5F6;

  --color-line: #EFF0F1;
  --color-line-active: #D8E8FA;

  --color-button-primary: #1CADFF;
}
