@custom-media --small-viewport (max-width: 710px);
@custom-media --desktop (min-width: 711px);

:root {
  --layout-container-max-width: 1180px;
  --layout-padding-horizontal: 20px;
  --layout-header-height: 60px;
  --layout-section-content-width: 560px;

  --color-background-hover: #F0F5F9;
  --color-background-image-overview: #181D22;
  --color-background-output: #F6FBFF;

  --color-button-primary: #1CADFF;
  --color-button-primary--hover: #0C99FF;
  --color-button-primary-border: #18A4F1;
  --color-button-primary-border--hover: #118CE4;
  --color-button-primary-shadow: rgba(28, 173, 255, 0.46);
  --color-button-primary-shadow--hover: rgba(28, 173, 255, 0.66);

  --z-header: 99;

  @media (--small-viewport) {
    --layout-padding-horizontal: 15px;
  }

  /**
   * Below not refactord yet
   */

  --layout-content-max-width: 10024px;

  --color-text-primary: #000000;
  --color-text-secondary: #707684;
  --color-text-active: #388AE5;
  --color-text-danger: #E24A4A;
  --color-text-disabled: #BDBEC0;

  --color-background-primary: #FFFFFF;

  --color-backround-light: #F2F5F6;
  --color-background-active: #F2F5F6;


  --color-line: #EFF0F1;
  --color-line-active: #D8E8FA;



  --layout-offset-x: 10px;
}



